Repository pawbyte/gpe-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: :memo: documentation, :pencil2: tutorial, :taco: app, :construction: actions

Deploy website - based on 3519244c04b2c23435bda28bfd60e9fd3c2dc070
  404.html
  assets/js/main.c06e1062.js
  assets/js/main.c06e1062.js.LICENSE.txt
  assets/js/main.fb358102.js
  blog/archive/index.html
  docs/including-sdl2-module/index.html
  docs/intro/index.html
  docs/tutorial-basics/congratulations/index.html
  docs/tutorial-basics/create-a-blog-post/index.html
  docs/tutorial-basics/create-a-document/index.html
  docs/tutorial-basics/create-a-page/index.html
  docs/tutorial-basics/deploy-your-site/index.html
  docs/tutorial-basics/markdown-features/index.html
  docs/tutorial-extras/manage-docs-versions/index.html
  docs/tutorial-extras/translate-your-site/index.html
  index.html
  markdown-page/index.html
  sitemap.xml
  tutorials/archive/index.html
  tutorials/atom.xml
  tutorials/first-blog-post/index.html
  tutorials/index.html
  tutorials/long-blog-post/index.html
  tutorials/mdx-blog-post/index.html
  tutorials/rss.xml
  tutorials/tags/docusaurus/index.html
  tutorials/tags/facebook/index.html
  tutorials/tags/hello/index.html
  tutorials/tags/hola/index.html
  tutorials/tags/index.html
  tutorials/welcome/index.html
Labels: :memo: documentation, :pencil2: tutorial

Create CNAME
  CNAME
Labels: none

Deploy website - based on 3519244c04b2c23435bda28bfd60e9fd3c2dc070
  404.html
  CNAME
  assets/js/1df93b7f.081cf298.js
  assets/js/1df93b7f.30702513.js
  assets/js/runtime~main.69d2ce26.js
  assets/js/runtime~main.771e3088.js
  blog/archive/index.html
  docs/including-sdl2-module/index.html
  docs/intro/index.html
  docs/tutorial-basics/congratulations/index.html
  docs/tutorial-basics/create-a-blog-post/index.html
  docs/tutorial-basics/create-a-document/index.html
  docs/tutorial-basics/create-a-page/index.html
  docs/tutorial-basics/deploy-your-site/index.html
  docs/tutorial-basics/markdown-features/index.html
  docs/tutorial-extras/manage-docs-versions/index.html
  docs/tutorial-extras/translate-your-site/index.html
  index.html
  markdown-page/index.html
  tutorials/archive/index.html
  tutorials/first-blog-post/index.html
  tutorials/index.html
  tutorials/long-blog-post/index.html
  tutorials/mdx-blog-post/index.html
  tutorials/tags/docusaurus/index.html
  tutorials/tags/facebook/index.html
  tutorials/tags/hello/index.html
  tutorials/tags/hola/index.html
  tutorials/tags/index.html
  tutorials/welcome/index.html
Labels: :memo: documentation, :pencil2: tutorial

Create CNAME
  CNAME
Labels: none

Updating site url. Updating frontpage button text.
  docusaurus.config.js
  src/pages/index.tsx
  static/CNAME
Labels: :taco: app

Deploy website - based on 09cead23d380ccc27af9ba91b8e76bbaa036bcc2
  CNAME
Labels: none

Deploy website - based on 09cead23d380ccc27af9ba91b8e76bbaa036bcc2
  404.html
  assets/js/main.c06e1062.js
  assets/js/main.eca0d78c.js
  assets/js/main.eca0d78c.js.LICENSE.txt
  blog/archive/index.html
  docs/including-sdl2-module/index.html
  docs/intro/index.html
  docs/tutorial-basics/congratulations/index.html
  docs/tutorial-basics/create-a-blog-post/index.html
  docs/tutorial-basics/create-a-document/index.html
  docs/tutorial-basics/create-a-page/index.html
  docs/tutorial-basics/deploy-your-site/index.html
  docs/tutorial-basics/markdown-features/index.html
  docs/tutorial-extras/manage-docs-versions/index.html
  docs/tutorial-extras/translate-your-site/index.html
  index.html
  markdown-page/index.html
  tutorials/archive/index.html
  tutorials/first-blog-post/index.html
  tutorials/index.html
  tutorials/long-blog-post/index.html
  tutorials/mdx-blog-post/index.html
  tutorials/tags/docusaurus/index.html
  tutorials/tags/facebook/index.html
  tutorials/tags/hello/index.html
  tutorials/tags/hola/index.html
  tutorials/tags/index.html
  tutorials/welcome/index.html
Labels: :memo: documentation, :pencil2: tutorial

Setting default color mode.
  docusaurus.config.js
Labels: :taco: app

Updating site logo. Updating Engine spotlight on frontpage.
  docusaurus.config.js
  src/components/HomepageFeatures.tsx
  src/pages/index.tsx
  static/img/gpe-icon.png
Labels: :taco: app

Deploy website - based on 4df5564d4418cf71adf530e322cf31990a0b00c0
  404.html
  assets/js/1df93b7f.081cf298.js
  assets/js/1df93b7f.6e9e5eb0.js
  assets/js/main.4c8db15c.js
  assets/js/main.4c8db15c.js.LICENSE.txt
  assets/js/main.eca0d78c.js
  assets/js/runtime~main.045d4fef.js
  assets/js/runtime~main.771e3088.js
  blog/archive/index.html
  docs/including-sdl2-module/index.html
  docs/intro/index.html
  docs/tutorial-basics/congratulations/index.html
  docs/tutorial-basics/create-a-blog-post/index.html
  docs/tutorial-basics/create-a-document/index.html
  docs/tutorial-basics/create-a-page/index.html
  docs/tutorial-basics/deploy-your-site/index.html
  docs/tutorial-basics/markdown-features/index.html
  docs/tutorial-extras/manage-docs-versions/index.html
  docs/tutorial-extras/translate-your-site/index.html
  img/gpe-icon.png
  index.html
  markdown-page/index.html
  tutorials/archive/index.html
  tutorials/first-blog-post/index.html
  tutorials/index.html
  tutorials/long-blog-post/index.html
  tutorials/mdx-blog-post/index.html
  tutorials/tags/docusaurus/index.html
  tutorials/tags/facebook/index.html
  tutorials/tags/hello/index.html
  tutorials/tags/hola/index.html
  tutorials/tags/index.html
  tutorials/welcome/index.html
Labels: :memo: documentation, :pencil2: tutorial

Updating colors. Adding hero download button. Updating spacing in hero banners.
  docusaurus.config.js
  src/css/custom.css
  src/pages/index.module.css
  src/pages/index.tsx
  static/img/gpe-icon-256.png
Labels: :taco: app

Deploy website - based on 47513e44fb059e709b45eb34740d15c969e3ad3b
  404.html
  assets/css/styles.03929989.css
  assets/css/styles.d9d837ef.css
  assets/js/1df93b7f.6e9e5eb0.js
  assets/js/1df93b7f.81efc030.js
  assets/js/main.4c8db15c.js
  assets/js/main.6750f938.js
  assets/js/main.6750f938.js.LICENSE.txt
  assets/js/runtime~main.045d4fef.js
  assets/js/runtime~main.a4c5aba8.js
  blog/archive/index.html
  docs/including-sdl2-module/index.html
  docs/intro/index.html
  docs/tutorial-basics/congratulations/index.html
  docs/tutorial-basics/create-a-blog-post/index.html
  docs/tutorial-basics/create-a-document/index.html
  docs/tutorial-basics/create-a-page/index.html
  docs/tutorial-basics/deploy-your-site/index.html
  docs/tutorial-basics/markdown-features/index.html
  docs/tutorial-extras/manage-docs-versions/index.html
  docs/tutorial-extras/translate-your-site/index.html
  img/gpe-icon-256.png
  index.html
  markdown-page/index.html
  tutorials/archive/index.html
  tutorials/atom.xml
  tutorials/first-blog-post/index.html
  tutorials/index.html
  tutorials/long-blog-post/index.html
  tutorials/mdx-blog-post/index.html
  tutorials/tags/docusaurus/index.html
  tutorials/tags/facebook/index.html
  tutorials/tags/hello/index.html
  tutorials/tags/hola/index.html
  tutorials/tags/index.html
  tutorials/welcome/index.html
Labels: :memo: documentation, :pencil2: tutorial

Deploy website - based on 47513e44fb059e709b45eb34740d15c969e3ad3b
  404.html
  assets/css/styles.03929989.css
  assets/css/styles.f2b273a2.css
  assets/js/runtime~main.1b923900.js
  assets/js/runtime~main.a4c5aba8.js
  blog/archive/index.html
  docs/including-sdl2-module/index.html
  docs/intro/index.html
  docs/tutorial-basics/congratulations/index.html
  docs/tutorial-basics/create-a-blog-post/index.html
  docs/tutorial-basics/create-a-document/index.html
  docs/tutorial-basics/create-a-page/index.html
  docs/tutorial-basics/deploy-your-site/index.html
  docs/tutorial-basics/markdown-features/index.html
  docs/tutorial-extras/manage-docs-versions/index.html
  docs/tutorial-extras/translate-your-site/index.html
  index.html
  markdown-page/index.html
  tutorials/archive/index.html
  tutorials/first-blog-post/index.html
  tutorials/index.html
  tutorials/long-blog-post/index.html
  tutorials/mdx-blog-post/index.html
  tutorials/tags/docusaurus/index.html
  tutorials/tags/facebook/index.html
  tutorials/tags/hello/index.html
  tutorials/tags/hola/index.html
  tutorials/tags/index.html
  tutorials/welcome/index.html
Labels: :memo: documentation, :pencil2: tutorial

Updating color for better visibility on dark backgrounds.
  src/css/custom.css
Labels: :taco: app

.github/labeler.yml:

":memo: documentation":
  - docs/**/*
  - SIGs/**/*
":pencil2: tutorial":
  - tutorials/**/*
":taco: app":
  - src/**/*
  - static/**/*
  - ./*.js
  - ./*.json
":construction: actions":
  - .github/workflows/**/*
