Repository pawbyte/gpe-docs, pull requests merged in 2023-03, with the labels that each got.

#68 [DISU]:[theweirdn8]:Rearrange OS getting started guide from main to q…
  docs/quick-start-guide/building-bsd.md
  docs/quick-start-guide/building-linux.md
  docs/quick-start-guide/building-mac.md
  docs/quick-start-guide/building-windows.md
Labels: :memo: documentation

#69 Fixing broken links introduced by #67.
  docs/building.md
  docs/quick-start-guide/Code-Conventions.md
  docs/quick-start-guide/building-bsd.md
  docs/quick-start-guide/building-linux.md
  docs/quick-start-guide/building-mac.md
  docs/quick-start-guide/building-windows.md
  docs/quick-start-guide/scrummaster-guide.md
Labels: :memo: documentation, :bug: bug

#71 [ISU-070]:[theweirdn8]:Update casing for build guides.
  docs/quick-start-guide/building-bsd.md
  docs/quick-start-guide/building-linux.md
  docs/quick-start-guide/building-mac.md
  docs/quick-start-guide/building-windows.md
Labels: :memo: documentation

#75 Updating Docusaurus to 2.4.0 per dependabot's recommendations
  .github/workflows/deploy.yml
  .github/workflows/pr-check.yml
  docs/quick-start-guide/building-bsd.md
  docs/quick-start-guide/building-linux.md
  docs/quick-start-guide/building-mac.md
  docs/quick-start-guide/building-windows.md
  package-lock.json
  package.json
  yarn.lock
Labels: :construction: actions, :memo: documentation, :package: dependencies, :sparkles: enhancement
